@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto Slab";
    src: url("../fonts/RobotoSlab-Bold.ttf");
    font-weight: bold;
}


body {
    font-family: "Roboto Slab", sans-serif;
    background-color: #f8f8f8;
    line-height: 1.8rem;
    margin: 0;
}

article {
    margin: 1rem;
}

article p {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-bottom: 1rem;
}

img {
    max-width: 100%;
}

.hidden {
    display: none;
}

.menu-toggle {
    position: absolute;
    top: 0;
    margin: 15px;
    width: 40px;
    height: 40px;
    border: 2px solid;
    border-radius: 4px;
    opacity: 70%;
    cursor: pointer;
    z-index: 20;
}

.menu-toggle.invert {
    filter: invert(100%);
    opacity: 100%;
}

nav {
    z-index: 10;
    min-width: 33%;
    max-width: 100%;
    background-color: #4F1B32;
    color: white;
    position: fixed;
    height: 100%;
    top: 0;
    padding-top: 70px;
}

nav ul {
    margin-top: 20px;
    padding: 0;
}

nav li {
    display: block;
    padding: 10px 50px;
}

nav li:hover {
    background-color: white;
    color: #4F1B32;
}

header.art-header {
    height: 400px;
    overflow: hidden;
}

header.art-header > img {
    width: 100%;
}

main {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#index h2 {
    text-align: left;
}

#index h1.title {
    font-size: 3rem;
    color: #C74336;
    line-height: 3rem;
}

#index .author {
    font-style: italic;
    font-size: 1.1rem;
    opacity: 50%;
    text-align: center;
    margin-bottom: 3rem;
}

#index .bible-part {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-bottom: -0.5rem;
}

h1, h2, h3 {
    font-weight: normal;
    text-align: center;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
    color: #C74336;
}

h2 {
    margin-top: 2rem;
    font-size: 1.5rem;
    color: #4A5A6A;
}

blockquote {
    background-color: #891932;
    color: white;
    padding: 1rem;
    margin: 1rem;
}

a {
    text-decoration: none;
}

sup {
    opacity: 50%;
}
